@{
    ViewData["Title"] = "Методичне забезпечення - Головна";
}
<style>
    ul {
        list-style-type: none;         
    }
    .rightBorder{
        border-right: 0.5px solid #eeeeee;
    }
    .leftBorder{
        border-left: 0.5px solid #eeeeee;
    }    
</style>
<div class="row center-block">
    <div class="col-md-2 pull-left">
        <img class="img-responsive "  src="~/images/logo.png" />
    </div> 
    <div class="col-md-10 pull-left">
        <h3>Кафедра <br> прикладної математики</h3> 
        <h5><span class="text-muted">Національний університет "Львівська політехніка"</span></h5>       
    </div>    
</div>
<div class="row">
    <div class="col-md-5">
        <h2 class="text-center">Бакалаври</h2>
        <h4>Спеціальність: <i>113 "Прикладна математика"</i></h4>       
        <ul>
            <li><a href="~/Home/Course/1">&#8544 Курс</a></li>
            <li><a href="~/Home/Course/2">&#8545 Курс</a></li>
            <li><a href="~/Home/Course/3">&#8546 Курс</a></li>
            <li><a href="~/Home/Course/4">&#8547 Курс</a></li>
        </ul>
    </div>
    <div class="col-md-7">
        <h2 class="text-center">Магістри</h2>
        <h3>Рівень вищої освіти: <i>Другий (магістерський)</i></h3>
        <h4>Спеціальність: <i>113 "Прикладна математика"</i></h4>
        <ul>
            <li>
                <h6>Спеціалізації:</h6>
                <ul>
                    <li><a href="~/Home/Course/5">Математичне і комп'ютерне моделювання</a></li>
                    <li><a href="~/Home/Course/6">Математичне моделювання мікро- і нано систем</a></li>
                    <li><a href="~/Home/Course/7">Обчислювальна механіка</a></li>
                </ul>
            </li>            
        </ul>
        <br />
        <h3>Рівень вищої освіти: <i>Магістр</i></h3>
        <h4>Спеціальність: <i>113 "Прикладна математика"</i></h4>
        <ul>
            <li>
                <h6>Спеціалізації:</h6>
                <ul>
                    <li><a href="~/Home/Course/9">Математичне та комп'ютерне моделювання</a></li>
                    <li><a href="~/Home/Course/10">Прикладна математика</a></li>                    
                </ul>
            </li>
        </ul>
        <h5>Спеціальність: <i>122 "Комп'ютерні науки та інформаційні технології"</i></h5>
        <ul>
            <li>
                <h6>Спеціалізація:</h6>
                <ul>
                    <li><a href="~/Home/Course/8">Комп'ютерні науки та інформаційні технології</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
