
@{ ViewBag.Title = "Додати робочі програми";}

<h2>@ViewBag.Title</h2>

<form asp-controller="Files" asp-action="CreateWorkSchedule" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="form-horizontal">       
        <div class="form-group">            
            <div class="col-lg-10">
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Завантажити" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}