@model Microsoft.Extensions.FileProviders.IFileInfo
@{
    ViewBag.Title = "Видалити - Методичне забезпечення ПМ";
}

<h3>Видалити методичну вказівку?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            Файл:
        </dt>

        <dd>
            @Model.Name
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Назад", "Instructions", "Files")
        </div>
    }
</div>

