@model IEnumerable<Microsoft.Extensions.FileProviders.IFileInfo>
@{
    ViewBag.Title = "Методичні вказівки";
}

<h2>Методичні вказівки</h2>
@if (true)
{
    <p>
        <b>@Html.ActionLink("Створити", "CreateInstruction", "Files")</b>
    </p>
}

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="document-item" href="~/uploads/instructions/@item.Name" filetype="" target="_blank">
                        <span class="fileCorner"></span>
                        @item.Name
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Видалити", "DeleteInstruction", "Files", new { fileName = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>