@model IEnumerable<Microsoft.Extensions.FileProviders.IFileInfo>

@{
    ViewBag.Title = "Розклад";
}

<h2>Розклад</h2>
@if (true)
{
    <p>
        <b>@Html.ActionLink("Створити", "CreateWorkSchedule", "Files")</b>
    </p>
}

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="document-item" href="~/uploads/workschedule/@item.Name" filetype="" target="_blank">
                        <span class="fileCorner"></span>
                        @item.Name
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Видалити", "DeleteWorkSchedule", "Files", new { fileName = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>